/* Base color rgb(50,50,55) */
/* Highlight color rgb(180,180,240) */
/* Disabled rgb(80,80,80) */

/* --------------------------------- QWidget ------------------------------------ */

QWidget
{
    border:    0px solid rgb(50,50,55);
    color:            rgb(220,220,250);
    font-size:        12px;
    font-family:      "New Century Schoolbook";
}

/* --------------------------------- Separator ------------------------------------ */

QMainWindow::separator
{
    background-color: rgb(60,60,65);
}

QMainWindow::separator:horizontal
{
    width: 2px;
}

QMainWindow::separator:vertical
{
    height: 2px;
}

/*QMainWindow > QWidget
{
    background-color: rgb(100,100,120);
}*/

/* --------------------------------- QFrame -------------------------------------- */

QFrame
{
    background-color: rgb(50,50,55);
}

/* --------------------------------- QLabel -------------------------------------- */

QLabel
{
    border:    0px solid rgb(50,50,55);
    background-color: transparent;
}

/* --------------------------------- QToolBar -------------------------------------- */

QToolBar
{
    border:    2px solid rgb(80,80,100);
    background-color: rgb(80,80,100);
}


/* --------------------------------- QPushButton --------------------------------- */

QPushButton
{
    background-color: rgb(60, 60, 70);
    border:    0px solid rgb(100,100,120);
    padding:   4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    border-radius: 4px;
}

QPushButton:hover
{
    background-color: rgb(80,120,200);
    color: white;
}

QPushButton:checked
{
    background-color: rgb(80,120,200);
}

QPushButton:disabled
{
    color:  rgb(80,80,80);
}

QPushButton:pressed
{
    background-color: rgb(100,140,220);
}


/* --------------------------------- QGroupBox ----------------------------------- */

QGroupBox
{
    background-color: rgb(55,55,60);
    border:           0px solid rgb(80,80,85);
    padding-top :     28px;
    font-size:        14px;
    color:            rgb(160,160,180);
}

QGroupBox::title
{
    padding: 6px;
    subcontrol-origin: padding;
}

QGroupBox::indicator
{
    padding: 2px;
    background-color: transparent;
}

QGroupBox::indicator:hover
{
    color: rgb(230,230,255);
}

QGroupBox::indicator:disabled
{
    color:  rgb(80,80,80);
}

QGroupBox::indicator:checked
{
    border: 2px solid rgb(100,100,120);
    background-color: rgb(80,120,200);
}

QGroupBox::indicator:unchecked
{
    border: 2px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

/* --------------------------------- QToolButton --------------------------------- */

QToolButton
{
    background-color: rgb(60, 60, 70);
    border:    0px solid rgb(100,100,120);
    padding:   2px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 40px;
    font-weight: bold;
    border-radius: 4px;
}

QToolButton:hover
{
    color:  white;
    background-color: rgb(80,120,200);
}

QToolButton:pressed
{
    background-color: rgb(100,140,220);
}

QToolButton:checked
{
    background-color: rgb(80,120,200);
}

QToolButton:disabled
{
    color:  rgb(80,80,80);
}

QToolButton[popupMode="1"]
{
    padding-right: 20px;
}

/* --------------------------------- QRadioButton --------------------------------- */

QRadioButton
{
    padding: 2px;
    background-color: transparent;
}

QRadioButton:hover
{
    color: rgb(230,230,255);
}

QRadioButton:disabled
{
    color:  rgb(80,80,80);
}

QRadioButton::indicator
{
    border: 2px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
    border-radius: 6px;
}

QRadioButton::indicator:disabled
{
    border: 2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    border-radius: 6px;
}

QRadioButton::indicator:disabled:checked
{
    border: 2px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

QRadioButton::indicator::checked
{
    border: 0px solid rgb(150,120,240);
    background-color: rgb(150,120,240);
}


/* --------------------------------- QCheckBox ------------------------------------ */

QCheckBox
{
    padding: 2px;
    background-color: transparent;
}

QCheckBox:hover
{
    color: rgb(230,230,255);
}

QCheckBox:disabled
{
    color:  rgb(80,80,80);
}

QCheckBox::indicator
{
    border: 2px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QCheckBox::indicator:disabled
{
    border: 2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
}

QCheckBox::indicator:disabled:checked
{
    border: 2px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

QCheckBox::indicator:checked
{
    border: 0px solid rgb(150,120,240);
    background-color: rgb(150,120,240);
}

/* --------------------------------- QTabWidget ----------------------------------- */

QTabWidget > QWidget
{
    background-color: rgb(60,60,65);
}

QTabWidget::pane
{
    border: 0px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QTabWidget::tab-bar
{
    border: 2px solid rgb(100,100,120);
}

QTabBar::tab {
    background: rgb(50,50,55);
}

QTabBar::tab:hover {
    color: rgb(230,230,255);
}


QTabBar::tab:selected {
    background: rgb(60,60,65)
}

/* --------------------------------- QDockWidget ----------------------------------- */

QDockWidget > QWidget
{
    background-color: rgb(50,50,55);
}

QDockWidget {
    background-color: rgb(100,100,120);
    border: 0px solid rgb(100,100,120);
}

/*
QDockWidget > QWidget {
    border: 2px solid rgb(100,100,120);
}
*/

QDockWidget::title
{
    background-color: rgb(100,100,120);
    border:           2px solid rgb(100,100,120);
    text-align:       left;
    padding:          4px;
    padding-left:     10px;
}


/* --------------------------------- QLineEdit ------------------------------------- */

QLineEdit
{
    border:           0px solid rgb(100,100,120);
    border-radius:    2px;
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(80,120,200);
}

QLineEdit:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

/* --------------------------------- QProgressBar ------------------------------------- */

QProgressBar
{
    background-color: rgb(50, 50, 55);
    border:           0px solid rgb(100,100,120);
    text-align:       center;
 }

QProgressBar::chunk
{
    background-color:  rgb(150,120,240);
}

/* --------------------------------- QListWidget ------------------------------------- */

QListWidget {
    border:           0px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QListWidget::item
{
    height: 22px;
    background-color: rgb(50,50,55);
}

QListWidget:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QListWidget::item:selected {
    background-color: rgb(80,120,200);
}

QListWidget::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(80,120,200);
}

QListWidget::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

/* --------------------------------- QListView ------------------------------------- */

QListView {
    border:           0px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QListView::item
{
    height: 22px;
    background-color: rgb(50,50,55);
}

QListView:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QListView::item:selected {
    background-color: rgb(80,120,200);
}

QListView::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(80,120,200);
}

QListView::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

/* --------------------------------- QComboBox --------------------------------------- */

QComboBox
{
     border:           0px solid rgb(80,120,200);
     padding:          2px;
     background-color: rgb(80,120,200);
}

QComboBox::down-arrow
{
     image: url(:/images/downarrow.png);
     background-color: rgb(80,120,200);
}

QComboBox::down-arrow:disabled
{
     image: url(:/images/downarrow.png);
     background-color: rgb(80,80,80);
}

QComboBox::down-arrow:editable
{
     image: url(:/images/downarrow.png);
     background-color: rgb(100,100,120);
}

QComboBox:hover
{
    color:            rgb(230,230,255);
}

QComboBox:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QComboBox:editable
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    color:            rgb(220,220,240);
    selection-background-color: rgb(80,120,200);
}

QComboBox::drop-down
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(80,120,200);
}

QComboBox::drop-down:editable
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
}

QComboBox::drop-down:disabled
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(80,80,80);
}

/*QComboBox::drop-down:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(180,180,240);
}*/

QComboBox QAbstractItemView {
    border:           0px solid rgb(100,100,120);
    selection-background-color: rgb(80,120,200);
}

/* --------------------------------- QTreeView --------------------------------------- */

QTreeView
{
    border:           0px solid rgb(100,100,120);
    gridline-color:   rgb(100,100,120);
    background-color: rgb(60,60,65);
}

QTreeView:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTreeView::item
{
    height: 22px;
    background-color: rgb(60,60,65);
}

QTreeView::item:disabled
{
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTreeView::item:selected {
    background-color: rgb(80,120,200);
    color:            rgb(230,230,255);
}

QTreeView::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(80,120,200);
}

QTreeView::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

/* --------------------------------- QTreeWidget --------------------------------------- */

QTreeWidget
{
    border:           0px solid rgb(100,100,120);
    gridline-color:   rgb(100,100,120);
    background-color: rgb(60,60,65);
}

QTreeWidget:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTreeWidget::item
{
    height: 22px;
    background-color: rgb(60,60,65);
}

QTreeWidget::item:disabled
{
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTreeWidget::item:selected {
    background-color: rgb(80,120,200);
    color:            rgb(230,230,255);
}

QTreeWidget::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(80,120,200);
}

QTreeWidget::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

/* --------------------------------- QHeaderView -------------------------------------- */

QHeaderView
{
    border:           0px solid rgb(100,100,120);
    border-bottom:    2px solid rgb(60,60,65);
    background-color: rgb(50,50,55);
}

QHeaderView:disabled
{
    border:           0px solid rgb(50,50,55);
    background-color: rgb(80,80,80);
    color:            rgb(80,80,80);
    border-bottom:    0px solid rgb(80,80,80);
}

QHeaderView::section
{
    border:           1px solid rgb(60,60,65);
    background-color: rgb(100,100,120);
    height:           30px;
    padding-left:     4px;
}

QHeaderView::section:disabled
{
    border:           0px solid rgb(50,50,55);
    background-color: rgb(50,50,55)
}


/* --------------------------------- QTextEdit ---------------------------------------- */


QTextEdit
{
    border:           0px solid rgb(80,80,100);
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(80,120,200);
    selection-color:  rgb(220,220,240);
}

QTextEdit:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

/* --------------------------------- QPlainTextEdit ---------------------------------------- */


QPlainTextEdit
{
    border:           0px solid rgb(80,80,100);
    background-color: rgb(100,100,120);
    padding:          0px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(80,120,200);
    selection-color:  rgb(220,220,240);
}

QPlainTextEdit:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

/* --------------------------------- QDateTimeEdit ---------------------------------------- */

QDateTimeEdit
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(100,100,120);
    min-height:           15px;
}

QDateTimeEdit:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QDateTimeEdit::up-button
{
    border:           1px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QDateTimeEdit::up-button:hover
{
    background-color: rgb(180,180,240);
}

QDateTimeEdit::up-button:pressed
{
    background-color: rgb(180,180,240);
}

QDateTimeEdit::up-button:disabled
{
    border:           1px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

QDateTimeEdit::down-button
{
    border:           1px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QDateTimeEdit::down-button:hover
{
    background-color: rgb(180,180,240);
}

QDateTimeEdit::down-button:pressed
{
    background-color: rgb(180,180,240);
}

QDateTimeEdit::down-button:disabled
{
    border:           1px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

/* --------------------------------- QDateEdit ---------------------------------------- */

QDateEdit
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(100,100,120);
    min-height:           15px;
}

QDateEdit:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QDateEdit::up-button
{
    border:           1px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QDateEdit::up-button:hover
{
    background-color: rgb(180,180,240);
}

QDateEdit::up-button:pressed
{
    background-color: rgb(180,180,240);
}

QDateEdit::up-button:disabled
{
    border:           1px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

QDateEdit::down-button
{
    border:           1px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QDateEdit::down-button:hover
{
    background-color: rgb(180,180,240);
}

QDateEdit::down-button:pressed
{
    background-color: rgb(180,180,240);
}

QDateEdit::down-button:disabled
{
    border:           1px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

/* --------------------------------- QDoubleSpinBox ---------------------------------------- */

QDoubleSpinBox
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(100,100,120);
    min-height:           15px;
}

QDoubleSpinBox:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QDoubleSpinBox::up-button
{
    border:           1px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QDoubleSpinBox::up-button:hover
{
    background-color: rgb(180,180,240);
}

QDoubleSpinBox::up-button:pressed
{
    background-color: rgb(180,180,240);
}

QDoubleSpinBox::up-button:disabled
{
    border:           1px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

QDoubleSpinBox::down-button
{
    border:           1px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QDoubleSpinBox::down-button:hover
{
    background-color: rgb(180,180,240);
}

QDoubleSpinBox::down-button:pressed
{
    background-color: rgb(180,180,240);
}

QDoubleSpinBox::down-button:disabled
{
    border:           1px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

/* --------------------------------- QSpinBox ---------------------------------------- */

QSpinBox
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(100,100,120);
    min-height:           15px;
}

QSpinBox:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QSpinBox::up-button
{
    border:           1px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QSpinBox::up-button:hover
{
    background-color: rgb(180,180,240);
}

QSpinBox::up-button:pressed
{
    background-color: rgb(180,180,240);
}

QSpinBox::up-button:disabled
{
    border:           1px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

QSpinBox::down-button
{
    border:           1px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QSpinBox::down-button:hover
{
    background-color: rgb(180,180,240);
}

QSpinBox::down-button:pressed
{
    background-color: rgb(180,180,240);
}

QSpinBox::down-button:disabled
{
    border:           1px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

/* --------------------------------- QTableView --------------------------------------- */

QTableView
{
    border:           0px solid rgb(100,100,120);
    gridline-color:   rgb(50,50,55);
    background-color: rgb(60,60,65);
}

QTableView:disabled
{
    border:           0px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTableView::item
{
    height: 22px;
}

QTableView::item:disabled
{
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTableView::item:selected {
    background-color: rgb(80,120,200);
    color:            rgb(180,180,200);
}

QTableView::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

QTableView::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(50, 50, 55);
}

/* --------------------------------- QMenuBar --------------------------------------- */


QMenuBar
{
    background-color: rgb(80,80,100);
    font-weight: bold;
}

QMenuBar::item
{
    border:           0px solid rgb(80,80,100);
    background-color: rgb(80,80,100);
    padding-left:     10px;
    padding-right:    10px;
    padding-bottom:   8px;
    padding-top:      8px;
}

QMenuBar::item:pressed
{
    color: rgb(230,230,255);
}

QMenuBar::item:selected
{
    background-color: rgb(100,100,120);
}

/* --------------------------------- QMenu --------------------------------------- */

QMenu
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QMenu::item:pressed
{
    color:            rgb(230,230,255);
}

QMenu::item:selected
{
    background-color: rgb(100,100,120);
}

QMenu::item:disabled
{
    color:            rgb(80,80,80);
}


/* --------------------------------- QDialog --------------------------------------- */

QDialog
{
    border:    0px solid rgb(50,50,55);
    background-color: rgb(50,50,55);
}


/* --------------------------------- QScrollBar --------------------------------------- */

QScrollBar:horizontal
{
    background: rgb(50,50,55);
    height:     7px;
    margin:     0px 0px 0px 0px;
}

QScrollBar::handle:horizontal
{
    background: rgb(100,100,120);
    min-width:  20px;
}

QScrollBar:vertical
{
    background: rgb(50,50,55);
    width:      7px;
    margin:     0px 0px 0px 0px;
}

QScrollBar::handle:vertical
{
    background: rgb(100,100,120);
    min-height: 20px;
}

/* --------------------------------- QStatusBar --------------------------------------- */

QStatusBar
{
    border-top: 0px solid rgb(80,80,100);
    background: rgb(100,100,120);
}

/* --------------------------------- QSplitter --------------------------------------- */

QSplitter::handle {
    background-color: rgb(60,60,65);
}

QSplitter::handle:horizontal
{
    width: 2px;
}

QSplitter::handle:vertical
{
    height: 2px;
}

/* --------------------------------- QSlider --------------------------------------- */

QSlider::handle:horizontal
{
    background: rgb(80,120,200);
}

QSlider::handle:horizontal:disabled
{
    background: rgb(80,80,80);
}

QSlider::handle:vertical
{
    background: rgb(80,120,200);
}

QSlider::handle:vertical:disabled
{
    background: rgb(80,80,80);
}








/* --------------------------------- Custom ---------------------------------------- */


/* Info toolbutton */

#info_toolButton {
    color: rgb(220, 220, 220);
}

#info_toolButton:hover {
    border: 2px solid rgb(220, 220, 220);
}

#info_toolButton:checked {
    background-color: rgb(220, 220, 220);
    color: black;
}

#info_toolButton:checked:hover {
    color: black;
}

/* Warn tool button */

#warn_toolButton {
    color: rgb(242, 225, 169);
}

#warn_toolButton:hover {
    border: 2px solid rgb(242, 225, 169);
}

#warn_toolButton:checked {
    background-color: rgb(242, 225, 169);
    color: black;
}

#warn_toolButton:checked:hover {
    color: black;
}

/* Warn error button */

#error_toolButton {
    color: rgb(184, 69, 67);
}

#error_toolButton:hover {
    border: 2px solid rgb(184, 69, 67);
}

#error_toolButton:checked {
    background-color: rgb(184, 69, 67);
    color: black;
}

#error_toolButton:checked:hover {
    color: black;
}

/* Warn fatal button */

#fatal_toolButton {
    color: rgb(139, 87, 88);
}

#fatal_toolButton:hover {
    border: 2px solid rgb(139, 87, 88);
}

#fatal_toolButton:checked {
    background-color: rgb(139, 87, 88);
    color: black;
}

#fatal_toolButton:checked:hover {
    color: black;
}

/* log_item_preview_textEdit */
#full_text_textEdit
{
    border:           2px solid rgb(50,50,55);
    background-color: rgb(50,50,55);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(80,120,200);
    selection-color:  rgb(220,220,240);
}

/* */

#toggle_view_toolButton {
    color: black;
    border: 1px solid  rgb(56, 56, 56);
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(186, 186, 186, 255), stop:1 rgba(238, 238, 238, 255));
}
