QMainWindow#Main_window {
    /*background:rgb(220, 220, 220);*/
    background: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(100,100,100),
        stop: 0.005 rgb(250,250,250),
        stop: 1 rgb(250,250,250));
}

/*
QFrame#h1_frame
{
    background-color: rgb(120, 127, 93);
    border: 2px solid rgb(49, 51, 38);
    border-radius: 5px;
}

QFrame#h2_frame
{
    background-color: rgb(168, 174, 136);
    border: 2px solid rgb(108, 113, 82);
    border-radius: 5px;
}

QFrame#h3_frame
{
    background-color: rgb(232, 226, 174);
    border: 2px solid rgb(160, 156, 111);
    border-radius: 5px;
}

QFrame#h4_frame
{
    background-color: rgb(187, 165, 108);
    border: 2px solid rgb(113, 97, 57);
    border-radius: 5px;
}

QFrame#h5_frame
{
    background-color: rgb(134, 106, 66);
    border: 2px solid rgb(59, 45, 25);
    border-radius: 5px;
}
*/

QToolButton#info_toolButton:checked {
    background-color: QLinearGradient(spread:pad,  x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(10,10,10),
        stop: 1 rgb(80,80,80));
    color: rgb(220, 220, 220);
}

QToolButton#warn_toolButton:checked {
    background-color: QLinearGradient(spread:pad,  x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(10,10,10),
        stop: 1 rgb(80,80,80));
    color: rgb(242, 225, 169);
}

QToolButton#error_toolButton:checked {
    background-color: QLinearGradient(spread:pad,  x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(10,10,10),
        stop: 1 rgb(80,80,80));
    color: rgb(184, 69, 67);
}

QToolButton#fatal_toolButton:checked {
    background-color: QLinearGradient(spread:pad,  x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(10,10,10),
        stop: 1 rgb(80,80,80));
    color: rgb(139, 87, 88);
}

QToolButton#info_toolButton {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 9px;
    background-color: rgb(220, 220, 220);
    color: black;
}

QToolButton#warn_toolButton {
    border: 1px solid rgb(128, 119, 89);
    border-radius: 9px;
    background-color: rgb(242, 225, 169);
    color: black;
}

QToolButton#error_toolButton {
    border: 1px solid rgb(124, 47, 46);
    border-radius: 9px;
    background-color: rgb(184, 69, 67);
    color: black;
}

QToolButton#fatal_toolButton {
    border: 1px solid rgb(77, 49, 50);
    border-radius: 9px;
    background-color: rgb(139, 87, 88);
    color: black;
}

QToolButton#toggle_view_toolButton {
    color: black;
    border: 1px solid  rgb(56, 56, 56);
    border-radius: 5px;
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(186, 186, 186, 255), stop:1 rgba(238, 238, 238, 255));
}

QRadioButton {
    color: black;
}

Line {
    background-color: rgb(255, 255, 255);
}

 QComboBox {
    border: 1px solid black;
    padding: 1px 18px 1px 6px;
    min-width: 6em;
    background: rgb(50,50,50);
    color: rgb(190, 190, 190);
 }

 QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 16px;

    border-left-width: 1px;
    border-left-color: rgb(70, 70, 70);
    border-left-style: solid;
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0.00568182, stop:0 rgba(220, 220, 220, 255), stop:1 rgba(120, 120, 120, 255));
 }

 QComboBox::down-arrow {
     image: url(:/icons/Resources/downarrow.png);
 }

 QComboBox::QAbstractItemView {
    border: 1px solid rgb(220, 220, 220);
    color: rgb(190,190,190);
    background-color: rgb(50,50,50);
    selection-background-color: rgb(190, 190, 190);
    selection-color: rgb(50,50,50);
 }

QProgressBar {
    color: black;
    border: 1px solid rgb(220, 220, 220);
    text-align: center;
 }


QGroupBox {
    background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(100,100,100),
        stop: 0.01 rgb(255,255,255),
        stop: 0.5 rgb(220,220,220),
        stop: 0.51 rgb(225,225,225),
        stop: 0.98 rgb(230,230,230),
        stop: 1 rgb(100,100,100));
    border: 1px solid rgb(220, 220, 220);
    /*border-radius: 5px;*/
    margin-top: 18px;
    padding: 0 0 0 0px;
}

QGroupBox::title {
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    color: rgb(0, 54, 82);
    subcontrol-origin: margin;
    subcontrol-position: top left;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    /*padding: 5px 3px;*/
}

QFrame {
    color: white;
    background-color: transparent;
    border: transparent;
}

QMenuBar {
    color: rgb(0, 54, 82);
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0.00568182, stop:0 rgba(200, 200, 200, 255), stop:1 rgba(220, 220, 220, 255));
}

QMenuBar::item {
    spacing: 10px; /* spacing between menu bar items */
    padding: 4px 8px;
    background: transparent;
}

/* when user selects item using mouse or keyboard */
QMenuBar::item:selected {
    /*border: 2px solid rgb(220, 220, 220); */
    color: rgb(0, 54, 82);
    background-color: rgb(220, 220, 220);
}

QMenu {
    background-color:rgb(255, 255, 255);
    border: 2px solid rgb(0, 54, 82);
}

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    background-color: transparent;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    color: rgb(0, 54, 82);
    background-color: rgb(200, 200, 200);
}

QStatusBar {
    color: black;
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0.00568182, stop:0 rgba(150, 150, 150, 255), stop:1 rgba(220, 220, 220, 255));
    /*border: 1px solid rgb(220, 220, 220);*/
}

 QStatusBar::QLabel {
    color: black;
     border-left: 1px solid rgb(80,80,80);
     border-right: 1px solid rgb(80,80,80);
     padding: 2px 2px 2px 2px;
 }

QStatusBar::QWidget {
    color: black;
}

QToolBar {
    color: white;
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0.00568182, stop:0 rgba(150, 150, 150, 255), stop:1 rgba(200, 200, 200, 255));
    border-color: rgb(0, 0, 0);
}

QFrame::frame {
    color: white;
    background-color: rgb(124, 124, 124);
    border-color: rgb(0, 0, 0);
}

QDialog {
    background-color: rgb(124, 124, 124);
}

QDockWidget {
    color: rgb(50, 50, 50);
    background-color: rgb(220, 220, 220);
}

QDockWidget::title {
    background-color: QLinearGradient(spread:pad,  x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(255,255,255),
        stop: 0.5 rgb(241,241,241),
        stop: 0.51 rgb(225,225,225),
        stop: 1 rgb(200,200,200));
    text-align: center;
    border-bottom: 1px solid rgb(220, 220, 220);
}

QPushButton {
    color: black;
    border: 1px solid  rgb(0, 54, 82);
    border-radius: 9px;
    min-width: 50px;
    min-height: 19px;
    padding-left: 8px;
    padding-right: 8px;

    /*background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(186, 186, 186, 255), stop:1 rgba(238, 238, 238, 255));*/
    background-color: QLinearGradient(spread:pad,  x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(255,255,255),
        stop: 0.5 rgb(241,241,241),
        stop: 0.51 rgb(225,225,225),
        stop: 1 rgb(200,200,200));

}

QPushButton:checked {
    border: 1px solid rgb(151, 209, 255);
    background-color: rgb(56, 56, 56);
    color: white;
}

QPushButton:disabled {
    color: rgb(160, 160, 160);
    border: 1px solid rgb(100, 100, 100);
    background-color: rgb(240, 240, 240);
}

QPushButton:pressed {
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(238, 238, 238, 255), stop:1 rgba(100, 100, 100, 255));
/*
background: qradialgradient(cx: 0.4, cy: -0.1,
        fx: 0.4, fy: -0.1, radius: 1.35, stop: 0 #fff, stop: 1 #ddd);
*/
}

QLineEdit {
    /*background-color: rgb(217, 217, 217);*/
    background-color: qlineargradient(spread:pad, x1:0, y1:0.15, x2:0, y2:0.006,
        stop:0 rgba(245, 245, 245, 255),
        stop:1 rgba(80, 80, 80, 255));
    padding: 1px;
    border-style: solid;
    border-radius: 3px;
    border: 1px solid rgb(220, 220, 220);
}

QMainWindow::separator {
     background: rgb(220, 220, 220);
     width:6px; /* when vertical */
     height: 6px; /* when horizontal */
 }

 /*QMainWindow::separator:hover {
     background: rgb(170, 255, 255);
 } */


 QTabWidget::pane {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
 }

 QTabWidget::tab-bar {
     left: 4px;
 }


 QTabBar::tab {
    color: black;
    background: rgb(124, 124, 124);
    border: 1px solid rgb(220, 220, 220);
    min-width: 8ex;
    padding-top: 2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
 }

 QTabBar::tab:hover {

     background-color: rgb(217, 217, 217);
 }

QTabBar::tab:selected {
    color: rgb(190,190,190);
    height: 16px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0.00568182, stop:0 rgba(220, 220, 220, 255), stop:1 rgba(120, 120, 120, 255));
 }

 QTabBar::tab:!selected {
    margin-top: 2px;
    background-color: rgb(80,80,80);
 }

QLabel {
    background: transparent;
    color: white;
}

QLabel#m_label_info {
    color: black;
}

QCheckBox {
    background: transparent;
    color: rgb(50, 50, 50);
}

/* ScrollBar vertical */

QScrollBar:vertical {
    background-color: rgb(0, 54, 82);
    width: 18px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
}

QScrollBar::handle:vertical {
    background-color: QLinearGradient(spread:pad,  x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 rgb(255,255,255),
        stop: 0.5 rgb(241,241,241),
        stop: 0.51 rgb(225,225,225),
        stop: 1 rgb(200,200,200));
    margin: 20px 2px 20px 2px;
    border-radius: 5px;
    min-height: 20px;
}

QScrollBar::sub-line:vertical {
    background-color: rgb(0, 54, 82);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: padding;
    /*border: 1px solid rgb(0, 54, 82);*/
}


QScrollBar::add-line:vertical {
    background-color: rgb(0, 54, 82);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: padding;
    /*border: 1px solid rgb(220, 220, 220);*/
}



QScrollBar::up-arrow:vertical {
    image: url(:/icons/Resources/uparrow.png);
}

QScrollBar::down-arrow:vertical {
    image: url(:/icons/Resources/downarrow.png);
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* ScrollBar horizontal */

QScrollBar:horizontal {
    border-radius: 0px;
    background-color: rgb(0, 54, 82);
    margin: 0px 0px 0px 0px;
    height: 18px;

}
QScrollBar::handle:horizontal {
    background-color: QLinearGradient(spread:pad,  x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 rgb(255,255,255),
        stop: 0.5 rgb(241,241,241),
        stop: 0.51 rgb(225,225,225),
        stop: 1 rgb(200,200,200));
    border-radius: 5px;
    min-width: 20px;
    margin: 2px 19px 2px 19px;
}


QScrollBar::add-line:horizontal {
    background-color: rgb(0, 54, 82);
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: padding;
}

QScrollBar::sub-line:horizontal {
    background-color: rgb(0, 54, 82);
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: padding;
}

QScrollBar::left-arrow:horizontal {
    image: url(:/icons/Resources/leftarrow.png);
}

QScrollBar::right-arrow:horizontal {
    image: url(:/icons/Resources/rightarrow.png);
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QAbstractScrollArea::corner {
    background-color: rgb(0, 54, 82);
}


QHeaderView::section {
    /*background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0.00568182, stop:0 rgba(220, 220, 220, 255), stop:1 rgba(120, 120, 120, 255)); */
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(186, 186, 186, 255), stop:1 rgba(238, 238, 238, 255));
    color: black; /*rgb(190, 190, 190); */
    /*padding: 2px 0px 2px 0px;*/
    border: 1px solid rgb(160, 160, 160);
}

QTreeWidget {
    border: 1px solid black;
    background-color: rgb(220, 220, 220);
}

QTreeWidget::item {
   height: 14px;
}

QTreeView {
    border: 1px solid black;
    background-color: rgb(220, 220, 220);
    alternate-background-color: rgb(70, 70, 70);
}

QTreeView::item {
   height: 15px;
}


QSlider::groove:horizontal {
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
}
QSlider::sub-page:horizontal {
    background: rgb(100, 100, 100);
    border: 1px solid rgb(100, 100, 100);
    border-radius:4px;
    margin-top: 2px;
    margin-bottom:3px;
    margin-left: 3px;
    margin-right: 3px;
}
QSlider::handle:horizontal {
    background-color: white;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

QSlider::handle:horizontal:!enabled {
    background-color:  rgb(100, 100, 100);
}




QSlider::groove:vertical {
    border: 1px solid black;
    border-radius: 6px;
    background-color:  rgb(100, 100, 100);
}

QSlider::handle:vertical:!enabled {
    background-color:  rgb(100, 100, 100);

}

QSlider::sub-page:vertical {
    background-color: rgb(220, 220, 220);
    border: 1px solid black;
    border-radius:6px;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 0px;
    margin-right: 1px;
}
QSlider::handle:vertical {
    background-color: white;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}


 QProgressBar::chunk {
     background-color:  rgb(124, 124, 124);
     width: 10px;
     margin: 0.5px;
 }
 QProgressBar {
     background-color: rgb(220, 220, 220);
     border: 1px solid black;
     border-radius: 3px;
     text-align: center;
     color: white;
 }

QSplitter::handle:hover {
    background-color: rgb(170, 255, 255);
}

QSplitter::handle {
    background-color: rgb(220, 220, 220);
}
QListView {
    border: 1px solid rgb(220, 220, 220);
    /*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
        stop:0 rgba(20, 20, 20, 255),
        stop:0.05 rgba(0, 54, 82, 255));*/
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
        stop:0 rgba(15, 50, 70, 255),
        stop:0.03 rgba(0, 54, 82, 255));
    border-radius: 5px;
    padding: 4px;
}

 QListView::item {
    height: 18px;
}

 QListView::item:selected {
    background-color: rgb(190, 190, 190);
    color: rgb(50,50,50);
}

 QListWidget {
    border: 1px solid black;
    background-color: rgb(220, 220, 220);
}

 QListWidget::item {
    height: 15px;
}

 QListWidget::item:selected {
    background-color: rgb(190, 190, 190);
    color: rgb(50,50,50);
}

QTableWidget {
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(220, 220, 220);
    alternate-background-color: rgb(70, 70, 70);
}





QTableView {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
        stop:0 rgba(15, 50, 70, 255),
        stop:0.05 rgba(0, 54, 82, 255));
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 4px;
    alternate-background-color: rgb(220, 220, 220);
}

QTableView::item:selected {
     background-color: rgb(172, 217, 253);
     color: black;
 }
/*
 QTableView::item:selected:!active {
     background-color: transparent;
 }

 QTableView::item:selected:active {
     background-color: transparent;
 }*/

 QTableView::item:hover {
     background-color: rgb(172, 217, 253);
     color: black;
 }





QPlainTextEdit {
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(220, 220, 220);
}

QToolButton {
    color: white;
}

QTextEdit {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1,
        stop:0 rgba(15, 50, 70, 255),
        stop:0.05 rgba(0, 54, 82, 255));
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 4px;
}

Log_table_view {
    color: black;   
}

Log_table_view::QFrame {
    /*background-color: qlineargradient(spread:pad, x1:0, y1:0.069, x2:0, y2:0, stop:0 rgba(30, 30, 30, 255), stop:1 rgba(10, 10, 10, 255));*/
}

