/* Base color rgb(50,50,55) */
/* Highlight color rgb(180,180,240) */
/* Disabled rgb(80,80,80) */

/* --------------------------------- QWidget ------------------------------------ */

QWidget
{
    background-color: rgb(50,50,55);
    color:            rgb(180,180,200);
    font-size:        12px;
}

/* --------------------------------- Separator ------------------------------------ */

QMainWindow::separator:hover
{
    background-color: rgb(100,100,120);
}

/* --------------------------------- QFrame -------------------------------------- */

QFrame
{
    border:    2px solid rgb(50,50,55);
}

/* --------------------------------- QPushButton --------------------------------- */

QPushButton
{
    border:    0px solid rgb(100,100,120);
    padding:   4px;
    font-weight: bold;
}

QPushButton:hover
{
    color: rgb(230,230,255);
}

QPushButton:checked
{
    background-color: rgb(120,120,220);
}

QPushButton:disabled
{
    color:  rgb(80,80,80);
}

QPushButton:pressed
{
    background-color: rgb(120,120,220);
}


/* --------------------------------- QGroupBox ----------------------------------- */

QGroupBox
{
    border:       2px solid rgb(100,100,120);
    padding-top : 28px;
    font-size:    14px;
}

QGroupBox::title
{
    padding: 6px;
    subcontrol-origin: padding;
}

/* --------------------------------- QToolButton --------------------------------- */

QToolButton
{
    border:    0px solid rgb(100,100,120);
    padding:   2px;
    min-width: 40px;
    font-weight: bold;
}

QToolButton:hover
{
    color: rgb(230,230,255);
}

QToolButton:pressed
{
    background-color: rgb(120,120,220);
}

QToolButton:checked
{
    background-color: rgb(120,120,220);
}

QToolButton:disabled
{
    color:  rgb(80,80,80);
}

/* --------------------------------- QRadioButton --------------------------------- */

QRadioButton
{
    padding: 2px;
}

QRadioButton:hover
{
    color: rgb(230,230,255);
}

QRadioButton:disabled
{
    color:  rgb(80,80,80);
}

QRadioButton::indicator
{
    border: 2px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
    border-radius: 6px;
}

QRadioButton::indicator:disabled
{
    border: 2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    border-radius: 6px;
}

QRadioButton::indicator::checked
{
    border: 2px solid rgb(100,100,120);
    background-color: rgb(120,120,220);
}


/* --------------------------------- QCheckBox ------------------------------------ */

QCheckBox
{
    padding: 2px;
}

QCheckBox:hover
{
    color: rgb(230,230,255);
}

QCheckBox:disabled
{
    color:  rgb(80,80,80);
}

QCheckBox::indicator
{
    border: 2px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QCheckBox::indicator:disabled
{
    border: 2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
}

QCheckBox::indicator:checked
{
    border: 2px solid rgb(100,100,120);
    background-color: rgb(120,120,220);
}

/* --------------------------------- QTabWidget ----------------------------------- */

QTabWidget::pane
{
    border: 2px solid rgb(100,100,120);
}

QTabWidget::tab-bar
{
    border: 2px solid rgb(100,100,120);
}

QTabBar::tab {
    background: rgb(50,50,55);
}

QTabBar::tab:hover {
    color: rgb(230,230,255);
}


QTabBar::tab:selected {
    background: rgb(100,100,120)
}

/* --------------------------------- QDockWidget ----------------------------------- */

QDockWidget {
    background-color: rgb(100,100,120);
    border: 2px solid rgb(100,100,120);
}

/*
QDockWidget > QWidget {
    border: 2px solid rgb(100,100,120);
}
*/

QDockWidget::title
{
    background-color: rgb(100,100,120);
    border:           2px solid rgb(100,100,120);
    text-align:       left;
    padding:          4px;
    padding-left:     10px;
}


/* --------------------------------- QLineEdit ------------------------------------- */

QLineEdit
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(80,80,100);
}

QLineEdit:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

/* --------------------------------- QProgressBar ------------------------------------- */

QProgressBar
{
    background-color: rgb(50, 50, 55);
    border:           2px solid rgb(100,100,120);
    text-align:       center;
 }

QProgressBar::chunk
{
    background-color:  rgb(120,120,220);
}

/* --------------------------------- QListWidget ------------------------------------- */

QListWidget {
    border:           0px solid rgb(100,100,120);
}

QListWidget::item
{
    height: 22px;
}

QListWidget:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QListWidget::item:selected {
    background-color: rgb(100,100,120);
}

QListWidget::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

QListWidget::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(50, 50, 55);
}

/* --------------------------------- QListView ------------------------------------- */

QListView {
    border:           0px solid rgb(100,100,120);
}

QListView::item
{
    height: 22px;
}

QListView:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QListView::item:selected {
    background-color: rgb(100,100,120);
}

QListView::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

QListView::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(50, 50, 55);
}

/* --------------------------------- QComboBox --------------------------------------- */

QComboBox
{
     border:           2px solid rgb(100,100,120);
     padding:          2px;
}

QComboBox:hover
{
    color:            rgb(230,230,255);
}

QComboBox:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QComboBox:editable
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    color:            rgb(220,220,240);
    selection-background-color: rgb(80,80,100);
}

QComboBox::drop-down
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
}

QComboBox::drop-down:editable
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QComboBox::drop-down:disabled
{
    border:           0px solid rgb(100,100,120);
    background-color: rgb(80,80,80);
}

QComboBox::drop-down:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(180,180,240);
}

QComboBox QAbstractItemView {
    border:           2px solid rgb(100,100,120);
    selection-background-color: rgb(100,100,120);
}

/* --------------------------------- QTreeView --------------------------------------- */

QTreeView
{
    border:           2px solid rgb(100,100,120);
    gridline-color:   rgb(100,100,120);
}

QTreeView:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTreeView::item
{
    height: 22px;
}

QTreeView::item:disabled
{
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTreeView::item:selected {
    background-color: rgb(100,100,120);
    color:            rgb(180,180,200);
}

QTreeView::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

QTreeView::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(50, 50, 55);
}

/* --------------------------------- QTreeWidget --------------------------------------- */

QTreeWidget
{
    border:           2px solid rgb(100,100,120);
    gridline-color:   rgb(100,100,120);
}

QTreeWidget:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTreeWidget::item
{
    height: 22px;
}

QTreeWidget::item:disabled
{
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTreeWidget::item:selected {
    background-color: rgb(100,100,120);
    color:            rgb(180,180,200);
}

QTreeWidget::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

QTreeWidget::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(50, 50, 55);
}

/* --------------------------------- QHeaderView -------------------------------------- */

QHeaderView
{
    border:           2px solid rgb(100,100,120);
    border-bottom:    2px solid rgb(50,50,55);
}

QHeaderView:disabled
{
    border:           2px solid rgb(50,50,55);
    background-color: rgb(80,80,80);
    color:            rgb(80,80,80);
    border-bottom:    2px solid rgb(80,80,80);
}

QHeaderView::section
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    height:           30px;
}

QHeaderView::section:disabled
{
    border:           2px solid rgb(50,50,55);
    background-color: rgb(50,50,55)
}


/* --------------------------------- QTextEdit ---------------------------------------- */


QTextEdit
{
    border:           2px solid rgb(80,80,100);
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(80,80,100);
    selection-color:  rgb(220,220,240);
}

QTextEdit:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

/* --------------------------------- QSpinBox ---------------------------------------- */

QSpinBox
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    padding:          2px;
    color:            rgb(220,220,240);
    selection-background-color: rgb(100,100,120);
}

QSpinBox:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QSpinBox::up-button
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QSpinBox::up-button:hover
{
    background-color: rgb(180,180,240);
}

QSpinBox::up-button:pressed
{
    background-color: rgb(180,180,240);
}

QSpinBox::up-button:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

QSpinBox::down-button
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QSpinBox::down-button:hover
{
    background-color: rgb(180,180,240);
}

QSpinBox::down-button:pressed
{
    background-color: rgb(180,180,240);
}

QSpinBox::down-button:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(80,80,80);
}

/* --------------------------------- QTableView --------------------------------------- */

QTableView
{
    border:           2px solid rgb(100,100,120);
    gridline-color:   rgb(100,100,120);
}

QTableView:disabled
{
    border:           2px solid rgb(80,80,80);
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTableView::item
{
    height: 32px;
}

QTableView::item:disabled
{
    background-color: rgb(50,50,55);
    color:            rgb(80,80,80);
}

QTableView::item:selected {
    background-color: rgb(100,100,120);
    color:            rgb(180,180,200);
}

QTableView::item:selected:hover {
    color:            rgb(230,230,255);
    background-color: rgb(100,100,120);
}

QTableView::item:hover
{
    color:            rgb(230,230,255);
    background-color: rgb(50, 50, 55);
}

/* --------------------------------- QMenuBar --------------------------------------- */

QMenuBar
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    border-bottom:    2px solid rgb(50,50,55);
}

QMenuBar::item
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(100,100,120);
    padding-left:     10px;
    padding-right:    10px;
}

QMenuBar::item:pressed
{
    color: rgb(230,230,255);
}

/* --------------------------------- QMenu --------------------------------------- */

QMenu
{
    border:           2px solid rgb(100,100,120);
    background-color: rgb(50,50,55);
}

QMenu::item:pressed
{
    color:            rgb(230,230,255);
}

QMenu::item:disabled
{
    color:            rgb(80,80,80);
}


/* --------------------------------- Custom ---------------------------------------- */


/* Info toolbutton */

#info_toolButton {
    border: 2px solid rgb(220, 220, 220);
}

#info_toolButton:checked {
    background-color: rgb(220, 220, 220);
    color: black;
}

#info_toolButton:checked:hover {
    color: black;
}

/* Warn tool button */

#warn_toolButton {
    border: 2px solid rgb(242, 225, 169);
}

#warn_toolButton:checked {
    background-color: rgb(242, 225, 169);
    color: black;
}

#warn_toolButton:checked:hover {
    color: black;
}

/* Warn error button */

#error_toolButton {
    border: 2px solid rgb(184, 69, 67);
}

#error_toolButton:checked {
    background-color: rgb(184, 69, 67);
    color: black;
}

#error_toolButton:checked:hover {
    color: black;
}

/* Warn fatal button */

#fatal_toolButton {
    border: 2px solid rgb(139, 87, 88);
}

#fatal_toolButton:checked {
    background-color: rgb(139, 87, 88);
    color: black;
}

#fatal_toolButton:checked:hover {
    color: black;
}

/* */

#toggle_view_toolButton {
    color: black;
    border: 1px solid  rgb(56, 56, 56);
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(186, 186, 186, 255), stop:1 rgba(238, 238, 238, 255));
}
